$color-container: rgb(200, 250, 250);

$color-heard: rgb(164, 255, 152);
$color-article1: rgb(255, 252, 70);
$color-article2: rgb(255, 175, 1);
$color-article3: rgb(255, 175, 1);
$color-aside_left: rgb(131, 253, 162);
$color-foorter1: rgb(139, 141, 0);
$color-bord: rgb(0, 0, 0);

$color-titulo: rgb(4, 18, 214);