
$color-container: rgb(230, 255, 251);

$color-imagen0: rgb(255, 255, 255);
$color-imagen1: rgb(255, 255, 255);
$color-imagen2: rgb(255, 255, 255);
$color-imagen3: rgb(255, 255, 255);
$color-imagen4: rgb(255, 255, 255);
$color-imagen5: rgb(255, 255, 255);

$color-bord: rgb(0, 0, 0);

$color-titulo: rgb(0, 0, 0);