$color-container: rgb(230, 255, 251);

$color-heard: rgb(164, 255, 152);
$color-aside_right: rgb(255, 0, 0);
$color-nav: rgb(255, 0, 200);
$color-article1: rgb(253, 160, 160);
$color-article2: rgb(253, 160, 160);
$color-content1: rgb(0, 22, 150);
$color-content2: rgb(0, 22, 150);
$color-content3: rgb(0, 22, 150);
$color-content4: rgb(0, 22, 150);
$color-content5: rgb(0, 22, 150);
$color-content6: rgb(0, 22, 150);
$color-content7: rgb(0, 22, 150);
$color-content8: rgb(0, 22, 150);
$color-content9: rgb(0, 22, 150);
$color-content10: rgb(0, 22, 150);
$color-foorter1: rgb(103, 255, 32);
$color-bord: rgb(0, 0, 0);

$color-titulo: rgb(255, 255, 255);