$color-heard: rgb(35, 253, 6);
$color-article1: rgb(255, 1, 1);
$color-article2: rgb(255, 1, 1);
$color-article3: rgb(255, 1, 1);
$color-foorter1: rgb(251, 255, 0);
$color-foorter2: rgb(251, 255, 0);
$color-bord: rgb(0, 0, 0);

$color-titulo: rgb(4, 18, 214);