@mixin caja{
    height: 150px;
}

@mixin título {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-weight bold;
    font-size: 30px;
    color: $color-titulo;
}